:root {
  --dark-blue: #0000aa;
  --dark-gray: #aaaaaa;
  --alabaster: #fbfbfe;
}

@font-face {
  font-family: "DOSVGA";
  src: url("https://cdn.jsdelivr.net/gh/nonepork/DEFACE/fonts/ibm_vga_8x16.woff");
}

body {
  background-color: var(--dark-blue);
  color: var(--alabaster);
  font-family: "DOSVGA", sans-serif;
  text-align: center;
  overflow: hidden;

  /* trying to make the font like the original */
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeSpeed;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* makes it stay a little bit higher */
  padding: 1rem;
  box-sizing: border-box;
}

/* scanline sweep */
.center-container::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 20px;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  animation: scanline-sweep 6s linear infinite;
}

/* easier on eyes */
.center-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(100, 100, 100, 0.3),
    rgba(100, 100, 100, 0.3) 1px,
    transparent 1px,
    transparent 2px
  );
}

.windows-text-box {
  display: inline-block;
  padding: 1px 8px;
  margin-bottom: 5px;
  color: darkblue;
  background-color: var(--dark-gray);
}

.error-message {
  text-align: left;
  margin-top: 1rem;
  max-width: 600px;
}

.burn-in {
  position: absolute;
  color: #0f0;
  opacity: 0.2;
  filter: blur(1px);
  animation: fadeout 1s forwards;
  display: inline-block;
  min-width: 0.6em;
  pointer-events: none;
}

@keyframes scanline-sweep {
  0% {
    top: 100%;
  }
  100% {
    top: -20px;
  }
}

@keyframes fadeout {
  from {
    opacity: 0.2;
    filter: blur(1px);
  }
  to {
    opacity: 0;
    filter: blur(2px);
  }
}
